.App {
  font-size: 14px;
  line-height: 24px;
}

.App-link {
  color: #61dafb;
}

.greenBtn {
  color: #fff;
  background-color: #239950;
  border: none;
  padding: 5px 24px;
  border-radius: 5px;
  font-weight: bold;
}

.doneBtn {
  padding: 12px 24px;
  width: calc(100vw - 80px);
  position: absolute;
  bottom: 10px;
  left: 0;
  margin: 0 40px;
}

.arrowIcn {
  position: relative;
  font-size: 24px;
  margin-right: 16px;
  margin-left: 8px;
  vertical-align: middle;
  font-weight: normal;
}

.arrowIcn:after {
  content: '-';
  position: absolute;
  top: 5px;
  right: -3px;
}
.arrowIcn.diff:after {
  top: -1px;
}

.bold {
  font-weight: bold
}

/** TrackingContainer **/
.TrackingContainer {
  background-color: #faf9f9;  
  height: 100vh;
}

.TrackingContainer .dayNav {
  background-color: #ffffff;
  padding: 10px 0;
}

.analysisContainer {
  background-color: #fff;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #bff155
}

.analysisContainer .calCarbonCntContainer {
  display: flex;
  flex-wrap: wrap;
}

.analysisContainer .calCarbonCntContainer > div {
  flex: calc(100% / 2);
  padding: 5px 0;
  text-align: center;
}

.analysisContainer .calCarbonAnalysisBtn {
  width: 100%;
}

.mealContainer {
  background-color: #fff;
  padding: 8px;
  margin: 12px 0;
  padding: 8px;
}

.mealContainer .mealHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mealContainer .mealHeading .calCnt {
  font-size: 12px;
}

.mealContainer .mealHeading > span {
  flex: calc(100% / 3);
}

.mealContainer .mealDish {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 8px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 12px;
}

.mealContainer .mealDish .dishName {
  display: flex;
}

.mealContainer .mealDish .dishName > img {
  border-radius: 4px;
  margin-right: 8px;
}
.mealContainer .mealDish .dishCalCnt{
  text-align: right;
}

.mealContainer .mealDish .dishCalCnt .mgB8 {
  margin-bottom: 12px;
}
/** /TrackingContainer **/

/** Overlay **/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: #fff;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.overlay.animate {
  visibility: hidden;
  transition: visibility 250ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.overlay.visible {
  visibility: hidden;
}

body.overlayContentOpen {
  overflow: hidden;
}
/** /Overlay **/

/** AddMeal **/
.addMealContainer{
  padding: 0 16px;
  background-color: #faf9f9;
  height: 100vh;
}

.addMealContainer .mealName {
  font-size: 14px;
  font-weight: bold;
  margin-left: -16px;
  padding: 10px 0;
}

.addMealContainer .seachContainer {
  position: relative;
  width: 100%;
}

.addMealContainer .seachContainer img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.addMealContainer .seachContainer input {
  width: calc(100% - 35px);
  padding: 10px 5px 10px 36px;
  border-radius: 5px;
  border: 1px solid #e7e7e7; 
}

.addMealContainer .dishContainer {
  margin: 10px 0;
}

.addMealContainer .dishContainer .dishItem {
  display: flex;
  border: 1px solid #f0f0f0;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 8px;
  padding: 8px 16px;
}

.addMealContainer .dishContainer .dishItem  .dishDetails {
  flex: 1;
}

.addMealContainer .dishContainer .dishItem .dishCnt {
  display: flex;
  font-size: 12px;
  line-height: 20px;
  justify-content: flex-start;
  color: #ababab;
}

.addMealContainer .dishContainer .dishItem .dishCnt .mgR8 {
  margin-right: 8px;;
}

.addMealContainer .dishContainer .dishItem > div {
  padding: 5px;
}

.checkActionBtn, .plusActionBtn {
  position: relative;
  align-self: center;
  padding: 4px;
  cursor: pointer;
  z-index: 1;
  color: #fff;
  font-size: 24px;
}

.checkActionBtn {
  transform: scaleX(-1) rotate(-45deg);
}

.checkActionBtn:after, .plusActionBtn:after {
  content: '';
  width: 24px;
  height: 24px;
  background-color: #239950;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}
.checkActionBtn:after {
  top: 11px;
  left: -1px;
}

.plusActionBtn:after {
  top: 10px;
  left: 1px;
}
/** /AddMeal **/

.staticImage {
  width: 100%;
  margin-top: -75px;
}

.cropImg {
  overflow: hidden;
}
