.App {}

.App-link {
  color: #61dafb;
}

.greenBtn {
  color: #fff;
  background-color: #239950;
  border: none;
  padding: 5px 24px;
  border-radius: 5px;
}

/** TrackingContainer **/
.TrackingContainer {
  background-color: #f0f0f0;  
  height: 100vh;
}

.TrackingContainer .weekNav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;
}

.TrackingContainer .weekNav > div{
  flex: calc(100vw / 7);
}

.TrackingContainer .dayNav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;
}

.TrackingContainer .dayNav {
  flex: calc(100vw / 3);
}

.analysisContainer {
  background-color: #fff;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
}

.analysisContainer .calCarbonCntContainer {
  display: flex;
  flex-wrap: wrap;
}

.analysisContainer .calCarbonCntContainer > div {
  flex: calc(100% / 2);
  padding: 5px 0;
}

.analysisContainer .calCarbonAnalysisBtn {
  width: 100%;
}

.mealContainer {
  background-color: #fff;
  padding: 8px;
  margin: 12px 0;
  padding: 8px;
}

.mealContainer .mealHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mealContainer .mealDish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin: 5px 0;
}
/** /TrackingContainer **/

/** Overlay **/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: #fff;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.overlay.animate {
  visibility: hidden;
  transition: visibility 250ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.overlay.visible {
  visibility: hidden;
}

body.overlayContentOpen {
  overflow: hidden;
}
/** /Overlay **/

/** AddMeal **/
.addMealContainer{
  padding: 0 16px;
}

.addMealContainer .mealName {
  font-weight: bold;
}

.addMealContainer .seachContainer {
  position: relative;
  width: 100%;
}

.addMealContainer .seachContainer img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.addMealContainer .seachContainer input {
  width: calc(100% - 35px);
  padding: 10px 5px 10px 30px;
  border-radius: 5px;
}

.addMealContainer .dishContainer {
  margin: 10px 0;
}

.addMealContainer .dishContainer .dishItem {
  display: flex;
  border: 1px solid #f0f0f0;
  align-items: center;
}

.addMealContainer .dishContainer .dishItem .dishCnt {
  flex: 1;
  text-align: right;
}

.addMealContainer .dishContainer .dishItem > div {
  padding: 5px;
}

.checkActionBtn {
  color: #fff;
}

.checkActionBtn, .plusActionBtn {
  position: relative;
  align-self: center;
  padding: 4px;
  cursor: pointer;
}

.checkActionBtn:after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #239950;
  position: absolute;
  top: 11px;
  left: 2px;
  z-index: -1;
  border-radius: 50%;
}

.doneBtn {
  color: #fff;
  background-color: rgb(65, 74, 178);
  border: none;
  padding: 12px 24px;
  width: calc(100vw - 80px);
  position: absolute;
  bottom: 10px;
  left: 0;
  margin: 0 40px;
}
/** /AddMeal **/
